*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 237);
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;

    padding: 20px;
    margin: 25px;
    text-align: center;
}

/* MAIN */

main{
    margin-top: 4vw;
}

.title-main{
    padding-top: 5vh;
    padding-bottom: 2vh;
}

.title-1, .title-2{
    display: flex;
}

.title-1{
    align-items: end;
    justify-content: space-around;

    max-width: 75%;
    margin: auto;
}

.title-1 h3{
    width: 25vw;
    margin-bottom: 10px;
}

.title-2{
    justify-content: center;
    margin-left: 50px;
}

img{
    background-size: cover;
    width: 100%;
    height: 95vh;
}

.project{
    display: flex;
    justify-content: space-between;

    padding: 0px 20px;
    margin: 10vw 25px;

    list-style: none;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;

    padding: 0px 20px;
    margin: 0px 25px;
    margin-bottom: 7vh;
}

footer ul{
    max-width: 40%;

    list-style: none;
}

footer h4{
    margin-bottom: 15px;
}